@import "tailwindcss";

@theme {

  /* primary */
  --color-army-50: #f6f8f4;
  --color-army-100: #e8ede4;
  --color-army-200: #d3dccd;
  --color-army-300: #b4c3ac;
  --color-army-400: #94a28d;
  --color-army-500: #75876f;
  --color-army-600: #5a7354;
  --color-army-700: #5a7354;
  --color-army-800: #5a7354;
  --color-army-900: #5a7354;
  --color-army-950: #5a7354;

  --color-taupe-100: #f3eee8;
--color-taupe-200: #e6ddd2;
--color-taupe-300: #d4c6b5;
--color-taupe-400: #bfae9a;
--color-taupe-500: #a28f7c;
--color-taupe-600: #8a7767;
--color-taupe-700: #746353;
--color-taupe-800: #605143;
--color-taupe-900: #4e4236;
}